<a href="https://colab.research.google.com/github/sreent/data-management-intro/blob/main/Bridging%20(or%20Junction)%20Tables%20-%20Ingestion%20using%20SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Global Air Quality**: SQL based Data Ingestion

## ðŸ“‹ Configuration

**Customize these settings for your project:**

In [ ]:
# ============================================
# PROJECT CONFIGURATION
# ============================================
# Customize these values for your project

import os

# Project Settings
PROJECT_NAME = "pollution"           # Change this to your project name
DATABASE_NAME = PROJECT_NAME        # Database name (defaults to project name)

# MySQL Credentials (change these for security)
MYSQL_USER = "francis"
MYSQL_PASSWORD = "california"

# Dataset Settings
DATASET_FILENAME = "pollution.csv"  # Your CSV filename
DATASET_URL = "https://drive.google.com/uc?export=download&id=1YEpPec4YfRcstDbUvfLkl0G21e-GfeS1"

# ============================================
# GOOGLE COLAB PATHS
# ============================================
# All paths use Google Colab's /content base directory

BASE_PATH = "/content"
PROJECT_HOME = f"{BASE_PATH}/project/{PROJECT_NAME}"
DATA_PATH = f"{PROJECT_HOME}/data"
SCRIPT_PATH = f"{PROJECT_HOME}/scripts"

# Set environment variables for shell commands
os.environ["PROJECT_NAME"] = PROJECT_NAME
os.environ["DATABASE_NAME"] = DATABASE_NAME
os.environ["MYSQL_USER"] = MYSQL_USER
os.environ["MYSQL_USER_PASSWORD"] = MYSQL_PASSWORD
os.environ["SRC_FILE_NAME"] = DATASET_FILENAME
os.environ["PROJECT_HOME"] = PROJECT_HOME
os.environ["DATA_PATH"] = DATA_PATH
os.environ["SCRIPT_PATH"] = SCRIPT_PATH

# Create directories
os.makedirs(DATA_PATH, exist_ok=True)
os.makedirs(SCRIPT_PATH, exist_ok=True)

print(f"âœ“ Configuration loaded successfully!")
print(f"  Environment: Google Colab")
print(f"  Project: {PROJECT_NAME}")
print(f"  Database: {DATABASE_NAME}")
print(f"  Project home: {PROJECT_HOME}")
print(f"  Data path: {DATA_PATH}")
print(f"  Scripts path: {SCRIPT_PATH}")
print(f"  Dataset: {DATASET_FILENAME}")

##Setting Up MySQL Environment

In [ ]:
# install and start mysql server
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!/etc/init.d/mysql restart > /dev/null

# enable data loading from a csv file into a table, only required for colab
!echo -e "[mysqld]\nsecure_file_priv = \"\"" >> /etc/my.cnf
!/etc/init.d/mysql restart > /dev/null
!mysql -e "SET GLOBAL local_infile=true;"

import os

# install sql magic, required for running sql commands in jupyter notebook
!pip install -q ipython-sql==0.5.0
# install mysql python connector
!pip install -q pymysql==1.1.0
# install sqlalchemy
!pip install -q sqlalchemy==2.0.20
# Install the prettytable package
!pip install prettytable==2.0.0

# enable sql magic in the notebook
%reload_ext sql

# queries are returned in the pandas format
%config SqlMagic.autopandas=True

import pandas as pd
# maximum # of rows to be rendered
pd.set_option('display.max_rows', 25)

##Repository Structure and Environment Parameters

#####Verify the project folders are created

In [ ]:
!ls -d $PROJECT_HOME/*

##ER Diagram and Relational Schema

### Relational Schema
* https://dbdiagram.io/d/global-air-pollution-653c61c4ffbf5169f09e8731

![image.png]()

##Data Cleaning

For our Air Quality usecase, we do not need to clean the data first before it can be loaded into the database. However, we will have to restructure the data in a way it can be ingested into a bridging/junction table seamlessly.

In [ ]:
import pandas as pd
import json
pd.options.mode.chained_assignment = None

df = pd.read_csv(DATASET_URL)
df.head()

In [ ]:
pollutants = ["CO","Ozone","NO2","PM2.5"]
aqi_cols = ["CO AQI Value", "Ozone AQI Value", "NO2 AQI Value", "PM2.5 AQI Value"]
df["Pollutants"] = json.dumps(pollutants)
df["AQI Values"] = df[aqi_cols].apply(pd.to_numeric, errors="coerce").agg(list, axis=1).apply(json.dumps)

df.head()

In [ ]:
df = df.drop(columns=["AQI Value", "CO AQI Value", "Ozone AQI Value", "NO2 AQI Value", "PM2.5 AQI Value"])

In [ ]:
# save 1,000 rows of clean data to a csv file for data loading and ingestion
df.head(1000).to_csv(f"{DATA_PATH}/pollution.csv", index=False)

# only in Colab, the csv files must be readable for group and other
# required for MySQL LOAD DATA INFILE
!chmod g+r,o+r $DATA_PATH/*.csv

##Setting Up Database and User Creation (required for Web App)

**Step 1**:

In [ ]:
%%writefile $SCRIPT_PATH/setup-database.sql
/* create a project database, and drop it first if it already exists */
DROP DATABASE IF EXISTS pollution;
CREATE DATABASE pollution;

/* create a database user, called francis, and drop it first if it already exists */
DROP USER IF EXISTS 'francis'@'%';
CREATE USER 'francis'@'%' IDENTIFIED WITH mysql_native_password BY 'california';

/* grant user access to the project data, which was created earlier */
GRANT ALL ON pollution.* TO 'francis'@'%';

/* only for running in colab, grant user francis to server related configuration */
GRANT SELECT ON mysql.* TO 'francis'@'%';

**Step 2**: We run a SQL script, <code>setup-database.sql</code>, to create data, user and then grant the user access to the database. This way, it is easier for us to make changes to the code and just re-run the script without having to exhausively re-type in the shell.

In [ ]:
!mysql -t < $SCRIPT_PATH/setup-database.sql

Only for Colab, we create a MySQL connection, which is required by Jupyter SQL magic.

In [ ]:
connection = f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@localhost/{DATABASE_NAME}"
%sql $connection


**Step 3**: Verify the database and user are created as expected.

In [ ]:
%%sql
SHOW DATABASES;

In [ ]:
%%sql
SELECT user, host
FROM mysql.user;

## Create Data Tables

We shall do it iteratively, i.e. creating table by table and also verifying it at the same time.

How do we determine the order?
*  The tables which have no dependencies shall be created first, followed by those with dependencies.
   * From our relational schema, we will start from dimension tables and then create the fact table.
   * For example, we must create <code>countries</code> before <code>cities</code> because <code>cities</code> has a foreign key referencing <code>countries</code>.
   * We must also create <code>cities</code> and <code>pollutants</code> before <code>pollutions</code> because <code>pollutions</code> references both.
* If we are to drop tables, we will then have to do the reverse. We drop the table which has the most dependencies first, followed by those with fewer dependencies.
  * We will start from the fact table and then move to dimension tables.
  * For example, we cannot drop <code>countries</code> before <code>cities</code> because <code>cities</code> still references <code>countries</code>.

**Step 1**: Iteratively add a <code>CREATE TABLE</code> SQL scripts in the following order: <code>countries</code>, <code>cities</code>, <code>pollutants</code>, and <code>pollutions</code>.

In [ ]:
%%writefile $SCRIPT_PATH/create-tables.sql
USE pollution;

DROP TABLE IF EXISTS pollutions;
DROP TABLE IF EXISTS pollutants;
DROP TABLE IF EXISTS cities;
DROP TABLE IF EXISTS countries;

CREATE TABLE countries (
  country_id INT PRIMARY KEY AUTO_INCREMENT,
  country_name VARCHAR(64) NOT NULL
);

CREATE TABLE cities (
  city_id INT PRIMARY KEY AUTO_INCREMENT,
  city_name VARCHAR(64) NOT NULL,
  country_id INT NOT NULL,
  FOREIGN KEY (country_id) REFERENCES countries (country_id)
);

CREATE TABLE pollutants (
  pollutant_id INT PRIMARY KEY AUTO_INCREMENT,
  pollutant_name VARCHAR(16) NOT NULL
);

CREATE TABLE pollutions (
  city_id INT,
  pollutant_id INT,
  aqi_value INT NOT NULL,
  PRIMARY KEY (city_id, pollutant_id)
);

**Step 2**: Run <code>create-tables.sql</code> script. This will create tables specified in the SQL script.

In [ ]:
!mysql -t < $SCRIPT_PATH/create-tables.sql

**Step 3**: Verify if the tables are created correctly.

In [ ]:
%%sql
SHOW TABLES;

**Step 4**: Iterate back to **Step 1** until all the tables are created.

## Load Denormalised Data (required for Data Ingestion)
We load denormalised data into the <code>denormalisedcides</code> database, which will then be used for data ingestion to the tables created previously.

**Step 1**: Create a SQL sript which contains:
* Create <code>denormalised</code> table for temporarily storing our denormalised data.
* Load the denormalised data into the <code>denormalised</code> table.

In [ ]:
%%writefile $SCRIPT_PATH/load-dnorm-data.sql
USE pollution;

DROP TABLE IF EXISTS denormalised;
CREATE TABLE denormalised (
    country VARCHAR(64),
    city VARCHAR(64),
    pollutants VARCHAR(64),
    aqi_values VARCHAR(64)
);

LOAD DATA LOCAL INFILE '/content/project/pollution/data/pollution.csv'
INTO TABLE denormalised
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

**Step 2**: Run <code>load-dnorm_data.sql</code> script. This will create tables specified in the SQL script, load the CSV data into the database and then pivot it into a tall table.

In [ ]:
!mysql --local-infile=1 -t < $SCRIPT_PATH/load-dnorm-data.sql

**Step 3**: Verify if the data is correctly loaded and then pivoted as intended.

In [ ]:
%%sql
SELECT *
FROM denormalised;

## Ingest Data into the Normalised Tables

We shall do it iteratively, i.e. ingesting data into table by table (one at a time) and also verifying it at the same time.

However for BCNF normalised database, such as ours in this use case, we need to adhere to referential integrity, i.e. add parent table before child table.

In our case, the order is as follows:
* First, we ingest into dimension tables: <code>countries</code>, <code>cities</code>, and <code>pollutants</code> (these can be in any order since they don't depend on each other)
* Then, we ingest into fact table: <code>pollutions</code> (this depends on the dimension tables)

**Step 1**: Before writing the data insertion script, we shall develop and try out the script to see if it creates the data as required for the table. We shall proceed in the following order: <code>countries</code>, <code>cities</code>, <code>pollutants</code>, and <code>pollutions</code>.

In [ ]:
%%sql
SELECT DISTINCT s.pollutant
FROM denormalised d
INNER JOIN JSON_TABLE(
    d.pollutants,
    '$[*]' COLUMNS( pollutant VARCHAR(64) PATH '$' )
) AS s;

In [ ]:
%%sql
# Insert Your Code Here
SELECT d.country, d.city, p.pollutant, v.aqi_value
FROM denormalised AS d
INNER JOIN JSON_TABLE(
    d.pollutants,
    '$[*]' COLUMNS (
        idx        FOR ORDINALITY,
        pollutant  VARCHAR(64) PATH '$'
    )
) AS p
INNER JOIN JSON_TABLE(
    d.aqi_values,
    '$[*]' COLUMNS (
        idx       FOR ORDINALITY,
        aqi_value  INT PATH '$'
    )
) AS v
ON p.idx = v.idx;

In [ ]:
%%sql
# In order for country_id, city_id and pollutant_id to exist,
# the data must be ingested into contries, cities and pollutants tables before hand.
WITH pivot AS (
  SELECT d.country, d.city, p.pollutant, v.aqi_value
  FROM denormalised AS d
  INNER JOIN JSON_TABLE(
      d.pollutants,
      '$[*]' COLUMNS (
          idx        FOR ORDINALITY,
          pollutant  VARCHAR(64) PATH '$'
      )
  ) AS p
  INNER JOIN JSON_TABLE(
      d.aqi_values,
      '$[*]' COLUMNS (
          idx       FOR ORDINALITY,
          aqi_value  INT PATH '$'
      )
  ) AS v
    ON p.idx = v.idx
)

SELECT ct.city_id, pl.pollutant_id, p.aqi_value
FROM pivot p
INNER JOIN countries c
ON p.country = c.country_name
INNER JOIN cities ct
ON (p.city = ct.city_name) AND (ct.country_id = c.country_id)
INNER JOIN pollutants pl
ON p.pollutant = pl.pollutant_name;

**Step 2**: Create a SQL sript using <code>INSERT INTO</code> which contains data insertion to all the normalised tables.

In [ ]:
%%writefile $SCRIPT_PATH/ingest-data.sql
USE pollution;

DELETE FROM pollutions;
DELETE FROM pollutants;
DELETE FROM cities;
DELETE FROM countries;

INSERT INTO countries (country_name)
    SELECT DISTINCT country
    FROM denormalised;

INSERT INTO cities (city_name, country_id)
    SELECT DISTINCT p.city, c.country_id
    FROM denormalised p
    INNER JOIN countries c
    ON p.country = c.country_name;

INSERT INTO pollutants (pollutant_name)
    SELECT DISTINCT s.pollutant
    FROM denormalised d
    JOIN JSON_TABLE(
        d.pollutants,
        '$[*]' COLUMNS( pollutant VARCHAR(64) PATH '$' )
    ) AS s;

INSERT INTO pollutions (city_id, pollutant_id, aqi_value)
    WITH pivot AS (
      SELECT d.country, d.city, p.pollutant, v.aqi_value
      FROM denormalised AS d
      JOIN JSON_TABLE(
          d.pollutants,
          '$[*]' COLUMNS (
              idx        FOR ORDINALITY,
              pollutant  VARCHAR(64) PATH '$'
          )
      ) AS p
      JOIN JSON_TABLE(
          d.aqi_values,
          '$[*]' COLUMNS (
              idx       FOR ORDINALITY,
              aqi_value  INT PATH '$'
          )
      ) AS v
        ON p.idx = v.idx
    )

    SELECT ct.city_id, pl.pollutant_id, p.aqi_value
    FROM pivot p
    INNER JOIN countries c
    ON p.country = c.country_name
    INNER JOIN cities ct
    ON (p.city = ct.city_name) AND (ct.country_id = c.country_id)
    INNER JOIN pollutants pl
    ON p.pollutant = pl.pollutant_name;

**Step 3**: Run <code>ingest-data.sql</code> script. This will create tables specified in the SQL script, load the CSV data into the database and then pivot it into a tall table.

In [ ]:
!mysql -t < $SCRIPT_PATH/ingest-data.sql

**Step 4**: Verify if the data is correctly ingested into the table as intended.

In [ ]:
%%sql
SELECT *
FROM pollutions;

**Step 5**: Iterate back to **Step 1** until we ingest data to all the tables.