<a href="https://colab.research.google.com/github/sreent/data-management-intro/blob/main/Lectures/CM3010%20March%202022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 2: XML Family Tree (16th Century English Monarchy)
We have a snippet describing:

```xml
<royal name="Henry" xml:id="HenryVII">
  <title rank="king" territory="England" regnal="VII"
         from="1485-08-22" to="1509-04-21" />
  <relationship type="marriage" spouse="#ElizabethOfYork">
    <children>
      <royal name="Arthur" xml:id="ArthurTudor"/>
      <royal name="Henry" xml:id="HenryVIII">
        <title rank="king" territory="England" regnal="VIII"
               from="1509-04-22" to="1547-01-28" />
        <!-- more nested children/relationship omitted for brevity -->
      </royal>
    </children>
  </relationship>
</royal>
```

We'll **parse** a bigger sample chunk, then run XPath queries from the exam:
- (a) Identify elements vs. attributes
- (b) `//title[@rank="king" and @regnal="VIII"]/../royal[@name="Henry"]`
- (c) `//title[@rank="king" or @rank="queen"]/../relationship/children/royal/relationship/children/royal/`
- (d) Insert new marriage data for Mary I, etc.

## Parsing and Experimenting with lxml

In [ ]:
!pip install lxml

from lxml import etree
from IPython.display import display, Markdown

# We'll define a sample genealogical XML snippet
xml_data = """
<royal name="Henry" xml:id="HenryVII">
  <title rank="king" territory="England" regnal="VII"
         from="1485-08-22" to="1509-04-21" />
  <relationship type="marriage" spouse="#ElizabethOfYork">
    <children>
      <royal name="Arthur" xml:id="ArthurTudor"/>
      <royal name="Henry" xml:id="HenryVIII">
        <title rank="king" territory="England" regnal="VIII"
               from="1509-04-22" to="1547-01-28" />
        <relationship type="marriage" spouse="#CatherineOfAragon"
                      from="1509-06-11" to="1533-05-23">
          <children>
            <royal name="Mary">
              <title rank="queen" territory="England" regnal="I"
                     from="1553-07-19" to="1558-11-17" />
              <relationship type="marriage" spouse="#PhilipOfSpain"
                            from="1554-07-25" />
            </royal>
          </children>
        </relationship>
      </royal>
    </children>
  </relationship>
</royal>
"""

In [ ]:
# 2) Parse the XML
root = etree.fromstring(xml_data)
print("XML parsed successfully. Root tag =", root.tag)

In [ ]:
# 3) A helper function to display each node in a list of nodes
def display_xml(nodes):
    """
    Given a list of Element nodes, convert each to a pretty-printed string
    and display it in Markdown.
    """
    for node in nodes:
        xml_str = etree.tostring(node, pretty_print=True, encoding='unicode').strip()
        display(Markdown(f"```xml\n{xml_str}\n```"))

In [ ]:
# 4) Example XPath expression (Question 2(b))
xp_expr = '//title[@rank="king" and @regnal="VIII"]/../royal[@name="Henry"]'

# 5) Evaluate the expression to get a list of matching nodes
matching_nodes = root.xpath(xp_expr)

# 6) Display those matching nodes
display_xml(matching_nodes)

### Additional Task
- Insert new data for Mary I’s queen consort of Spain from "1556-01-16" to "..."
  and see if the parser holds.
- Use `root.xpath(...)` to verify your newly added node.

# **Q3(h) and (i) with a Triples Table**

## MySQL Setup

In [ ]:
# Install MySQL (if in Colab/Ubuntu environment), start the service
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!service mysql start

# Create user & DB for bird spotting
!mysql -e "CREATE USER IF NOT EXISTS 'birduser'@'localhost' IDENTIFIED BY 'birdpass';"
!mysql -e "CREATE DATABASE IF NOT EXISTS triple_store;"
!mysql -e "GRANT ALL PRIVILEGES ON triple_store.* TO 'birduser'@'localhost';"

# Install Python libs
!pip install -q sqlalchemy==2.0.20 ipython-sql==0.5.0 pymysql==1.1.0 prettytable==2.0.0

%reload_ext sql

import pandas as pd
pd.set_option('display.max_rows', 10)

# Connect to bird_spotter DB
%sql mysql+pymysql://birduser:birdpass@localhost/triple_store

print("MySQL ready for SPARQL question (Q3).")

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 10.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 2.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 59.4 MB/s eta 0:00:00
MySQL ready for SPARQL question (Q3).

We’ll show how to store RDF-like data in a **Triples** table (Subject, Predicate, Object) in MySQL, then run a **recursive CTE** to find entities whose “birthPlace” eventually leads to “New York City” up the location chain.

### Create Triples Table & Insert Data

In [ ]:
%%sql
DROP TABLE IF EXISTS Triples;

CREATE TABLE Triples (
  Subject  VARCHAR(50),
  Predicate VARCHAR(50),
  Object   VARCHAR(50)
);


INSERT INTO Triples (Subject, Predicate, Object) VALUES
('SongCi', 'instanceOf', 'Human'),
('SongCi', 'birthPlace', 'New York City'),
('SongCi', 'occupation', 'Doctor'),

('NehaKapoor', 'instanceOf', 'Human'),
('NehaKapoor', 'birthPlace', 'Boston'),
('NehaKapoor', 'occupation', 'Actor')
;

 * mysql+pymysql://birduser:***@localhost/triple_store
0 rows affected.
0 rows affected.
6 rows affected.

[]

## Find Human Born in NYC

In [ ]:
%%sql

## Find Doctor Born in NYC

In [ ]:
%%sql

# Question 4: Hospital Database – Final Notebook

Below we implement the final solution approach:

- **Hospital** (Name)  
- **Building** (Name, HospitalName)  
- **Ward** (Name, BuildingName)  
- **Patient** (ID)  
- **PatientWardStay** bridging the “staysIn” relationship with arrival/departure  
- **Department** (Name, HospitalName)  
- **Doctor** (Name)  
- **Doctor_Department** bridging the many–many “worksAt.”  

We create them in MySQL, insert sample data, then run queries demonstrating how to answer part (a) questions.

In [ ]:
# 1) Install and start MySQL server (on Colab or Debian/Ubuntu)
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!service mysql start

# 2) Create user & DB (e.g. 'hospital_db') for our hospital scenario
!mysql -e "CREATE USER IF NOT EXISTS 'dbuser'@'localhost' IDENTIFIED BY 'dbpass';"
!mysql -e "CREATE DATABASE IF NOT EXISTS hospital_db;"
!mysql -e "GRANT ALL PRIVILEGES ON hospital_db.* TO 'dbuser'@'localhost';"

# 3) Install Python libs for SQL Magic
!pip install -q sqlalchemy==2.0.20 ipython-sql==0.5.0 pymysql==1.1.0 prettytable==2.0.0

# 4) Load the sql extension and configure
%reload_ext sql

import pandas as pd
pd.set_option('display.max_rows', 10)

# 5) Connect to 'hospital_db' in MySQL using our user/password
%sql mysql+pymysql://dbuser:dbpass@localhost/hospital_db

print("MySQL environment is ready. Connected to hospital_db!")

### Create Tables for the Hospital Scenario

In [ ]:
%%sql
%%sql

-------------------------------------
--  0) Drop tables in reverse order
--     so that we don’t break FKs
-------------------------------------
DROP TABLE IF EXISTS works_at;
DROP TABLE IF EXISTS stay_in;
DROP TABLE IF EXISTS Patient;
DROP TABLE IF EXISTS Ward;
DROP TABLE IF EXISTS Department;
DROP TABLE IF EXISTS Doctor;
DROP TABLE IF EXISTS Building;
DROP TABLE IF EXISTS Hospital;

-------------------------------------
--  1) Hospital (Name as PK)
-------------------------------------
CREATE TABLE Hospital (
  Name VARCHAR(100) PRIMARY KEY
);

-------------------------------------
--  2) Building (Name PK,
--     references Hospital(Name) via “run_by”)
-------------------------------------
CREATE TABLE Building (
  Name      VARCHAR(100),
  Address   VARCHAR(255),
  run_by    VARCHAR(100) NOT NULL,
  PRIMARY KEY (Name),
  FOREIGN KEY (run_by) REFERENCES Hospital(Name)
);

-------------------------------------
--  3) Department (Name PK,
--     references Hospital via “part_of”)
-------------------------------------
CREATE TABLE Department (
  Name            VARCHAR(100),
  part_of         VARCHAR(100) NOT NULL,   -- FK to Hospital
  specialisation  VARCHAR(100),
  PRIMARY KEY (Name),
  FOREIGN KEY (part_of) REFERENCES Hospital(Name)
);

-------------------------------------
--  4) Ward (Name PK,
--     references Building via “located_in”
--     and Department via “operated_by”)
-------------------------------------
CREATE TABLE Ward (
  Name         VARCHAR(100),
  located_in   VARCHAR(100) NOT NULL,      -- FK to Building
  operated_by  VARCHAR(100) NOT NULL,      -- FK to Department
  PRIMARY KEY (Name),
  FOREIGN KEY (located_in)  REFERENCES Building(Name),
  FOREIGN KEY (operated_by) REFERENCES Department(Name)
);

-------------------------------------
--  5) Doctor (Name as PK)
-------------------------------------
CREATE TABLE Doctor (
  Name VARCHAR(100) PRIMARY KEY
);

-------------------------------------
--  6) Patient (ID as PK,
--     references Doctor via “treated_by”)
-------------------------------------
CREATE TABLE Patient (
  ID         INT,
  Name       VARCHAR(100),
  DoB        DATE,
  treated_by VARCHAR(100) NOT NULL,  -- references Doctor.Name
  PRIMARY KEY (ID),
  FOREIGN KEY (treated_by) REFERENCES Doctor(Name)
);

-------------------------------------
--  7) stay_in (previously “PatientWardStay”)
--     bridging Patient → Ward
--     with arrival/departure
-------------------------------------
CREATE TABLE stay_in (
  patient  INT,           -- references Patient(ID)
  ward     VARCHAR(100),  -- references Ward(Name)
  arrived  DATE NOT NULL,
  departed DATE,
  -- If multiple stays in the same ward are possible,
  -- use (patient, ward, arrived) as a 3-col PK:
  PRIMARY KEY (patient, ward, arrived),
  FOREIGN KEY (patient) REFERENCES Patient(ID),
  FOREIGN KEY (ward)    REFERENCES Ward(Name)
);

-------------------------------------
--  8) works_at (previously “Doctor_Department”)
--     many–many “worksAt” bridging Doctor ↔ Department
-------------------------------------
CREATE TABLE works_at (
  doctor     VARCHAR(100), -- references Doctor
  department VARCHAR(100), -- references Department
  PRIMARY KEY (doctor, department),
  FOREIGN KEY (doctor)     REFERENCES Doctor(Name),
  FOREIGN KEY (department) REFERENCES Department(Name)
);

#### Explanation
We create 8 tables, similar to a possible design for Q4:
- Hospital, Building, Ward (1–M relationships)
- Department and Doctor (with a bridging table Doctor_Department for M–N)
- Patient and a bridging table PatientWardStay to store arrival/departure data.

### Insert Sample Data

In [ ]:
%%sql
----------------------------------
-- 1) Hospitals
----------------------------------
INSERT INTO Hospital (Name) VALUES
  ('City Hospital'),
  ('General Hospital');

----------------------------------
-- 2) Buildings
--    (Name, Address, run_by -> Hospital)
----------------------------------
INSERT INTO Building (Name, Address, run_by) VALUES
  ('Main Building', 'Main Street', 'City Hospital'),
  ('Annex', 'Annex Lane', 'City Hospital'),
  ('North Wing', 'North Avenue', 'General Hospital'),
  ('The Alexander Fleming Building', 'Imperial College Rd', 'General Hospital');

----------------------------------
-- 3) Departments
--    (Name, part_of -> Hospital, specialisation)
----------------------------------
INSERT INTO Department (Name, part_of, specialisation) VALUES
  ('Orthopedics', 'City Hospital', 'Musculoskeletal'),
  ('Accident & Emergency', 'City Hospital', 'Acute Care'),
  ('ENT', 'General Hospital', 'Ear/Nose/Throat');

----------------------------------
-- 4) Wards
--    (Name, located_in -> Building, operated_by -> Department)
----------------------------------
INSERT INTO Ward (Name, located_in, operated_by) VALUES
  ('Ward A', 'Main Building', 'Accident & Emergency'),
  ('Orthopedics Ward', 'Main Building', 'Orthopedics'),
  ('Ward B', 'North Wing', 'ENT'),
  ('Fleming Ward', 'The Alexander Fleming Building', 'ENT');

----------------------------------
-- 5) Doctors
----------------------------------
INSERT INTO Doctor (Name) VALUES
  ('Dr. Song Ci'),
  ('Dr. Neha Kapoor');

----------------------------------
-- 6) Patients
--    (ID, Name, DoB, treated_by -> Doctor)
----------------------------------
INSERT INTO Patient (ID, Name, DoB, treated_by) VALUES
  (100, 'Neha Ahuja', '1990-05-12', 'Dr. Song Ci'),
  (101, 'John Smith', '1985-03-22', 'Dr. Neha Kapoor');

----------------------------------
-- 7) stay_in
--    Bridging Patient → Ward with arrival/departure
----------------------------------
INSERT INTO stay_in (patient, ward, arrived, departed) VALUES
  -- Neha Ahuja stays in Ward A
  (100, 'Ward A', '2023-08-01', '2023-08-15'),

  -- The same patient then stays in Fleming Ward
  -- (so we can see that building belongs to General Hospital)
  (100, 'Fleming Ward', '2023-09-01', '2023-09-10'),

  -- John Smith in Orthopedics Ward
  (101, 'Orthopedics Ward', '2023-08-05', '2023-08-10');

----------------------------------
-- 8) works_at (Bridging Doctor → Department)
----------------------------------
INSERT INTO works_at (doctor, department) VALUES
  -- Dr. Song Ci works in both Orthopedics (City Hospital)
  -- and ENT (General Hospital), so we can see multiple hospitals.
  ('Dr. Song Ci', 'Orthopedics'),
  ('Dr. Song Ci', 'ENT'),

  -- Dr. Neha Kapoor works in A&E for demonstration.
  ('Dr. Neha Kapoor', 'Accident & Emergency');

## Example Queries (Answering sub-question (a))

### (i) Which building did the patient named Neha Ahuja stay in?

In [ ]:
%%sql

### (ii) Which hospital was responsible for Neha Ahuja’s stay?

In [ ]:
%%sql

### (iii) e.g. "In which wards are Orthopedics patients housed?"

In [ ]:
%%sql

### (iv) Which hospitals does the doctor Song Ci work in?

In [ ]:
%%sql

### (v) "What departments does the hospital have that contains building called The Alexander Fleming Building?", etc.

In [ ]:
%%sql

(vi) Which doctor treated Neha Ahuja?