<a href="https://colab.research.google.com/github/sreent/data-management-intro/blob/main/Lectures/CM3010%20September%202022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 2: Database Design and Querying

## MySQL Environment Setup

In [ ]:
# -------------------------------------------------------
# 1) Install and start MySQL (in a Colab/Ubuntu environment).
# 2) Create user & DB.
# 3) Install necessary Python libs.
# 4) Connect to the DB using ipython-sql.
# -------------------------------------------------------

!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!service mysql start

# Create a user, database, and grant privileges.
!mysql -e "CREATE USER IF NOT EXISTS 'birduser'@'localhost' IDENTIFIED BY 'birdpass';"
!mysql -e "CREATE DATABASE IF NOT EXISTS triple_store;"
!mysql -e "GRANT ALL PRIVILEGES ON triple_store.* TO 'birduser'@'localhost';"

# Install Python libraries needed for SQL in Colab
!pip install -q sqlalchemy==2.0.20 ipython-sql==0.5.0 pymysql==1.1.0 prettytable==2.0.0

# Load the IPython SQL extension
%reload_ext sql

import pandas as pd
pd.set_option('display.max_rows', 10)

# Connect to the 'triple_store' database as 'birduser'
%sql mysql+pymysql://birduser:birdpass@localhost/triple_store

print("MySQL environment is ready. Connected to 'triple_store' DB as 'birduser'.")

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 33.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 3.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 47.0 MB/s eta 0:00:00
MySQL environment is ready. Connected to 'triple_store' DB as 'birduser'.

### (a) - (f) Overview

We have two tables:
- **Student**: Stores basic student info (ID, names, gender, birthdate, city).
- **Test**: Stores test scores for students (TestID, StudentID, date, score).

**We'll:**
1. Create these tables.
2. Insert sample data.
3. Demonstrate `AVG()` queries, `GROUP BY`, etc.
4. Discuss minimal read‐only access and create a view for aggregated data.

In [ ]:
%%sql
-- Drop tables if they exist (for a clean re-run scenario)
DROP TABLE IF EXISTS Test;
DROP TABLE IF EXISTS Student;

CREATE TABLE Student (
    ID INT PRIMARY KEY,
    GivenName VARCHAR(50) NOT NULL,
    FamilyName VARCHAR(50) NOT NULL,
    Gender VARCHAR(10) NOT NULL,
    BirthDate DATE NOT NULL,
    City VARCHAR(50)
);

CREATE TABLE Test (
    TestID INT PRIMARY KEY,
    StudentID INT,
    TestDate DATE,
    Score DOUBLE,
    FOREIGN KEY (StudentID) REFERENCES Student(ID)
);

 * mysql+pymysql://birduser:***@localhost/triple_store
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Insert Sample Data

In [ ]:
%%sql
INSERT INTO Student (ID, GivenName, FamilyName, Gender, BirthDate, City)
VALUES
(1, 'Alice', 'Smith', 'F', '2005-05-10', 'Birmingham'),
(2, 'Bob', 'Jones', 'M', '2005-06-12', 'Berlin'),
(3, 'Charlie', 'Brown', 'M', '2004-03-20', 'Seoul'),
(4, 'Diana', 'Miles', 'F', '2005-01-01', 'Birmingham')
ON DUPLICATE KEY UPDATE
 GivenName=VALUES(GivenName),
 FamilyName=VALUES(FamilyName),
 Gender=VALUES(Gender),
 BirthDate=VALUES(BirthDate),
 City=VALUES(City);

 * mysql+pymysql://birduser:***@localhost/triple_store
4 rows affected.

[]

In [ ]:
%%sql
INSERT INTO Test (TestID, StudentID, TestDate, Score)
VALUES
(101, 1, '2019-01-10', 50.5),
(102, 1, '2019-09-10', 55.0),
(103, 2, '2019-01-10', 80.9),
(104, 2, '2019-09-15', 77.2),
(105, 3, '2019-05-01', 91.0),
(106, 4, '2019-01-10', 63.0)
ON DUPLICATE KEY UPDATE
 StudentID=VALUES(StudentID),
 TestDate=VALUES(TestDate),
 Score=VALUES(Score);

 * mysql+pymysql://birduser:***@localhost/triple_store
6 rows affected.

[]

### Check data

In [ ]:
%%sql
SELECT *
FROM Student;

 * mysql+pymysql://birduser:***@localhost/triple_store
4 rows affected.

[(1, 'Alice', 'Smith', 'F', datetime.date(2005, 5, 10), 'Birmingham'),
 (2, 'Bob', 'Jones', 'M', datetime.date(2005, 6, 12), 'Berlin'),
 (3, 'Charlie', 'Brown', 'M', datetime.date(2004, 3, 20), 'Seoul'),
 (4, 'Diana', 'Miles', 'F', datetime.date(2005, 1, 1), 'Birmingham')]

### (a) Which aggregate function is used?

For instance, let's see the average test score:

In [ ]:
%%sql

### (b) Database design problem (e.g., storing Age vs. computing from BirthDate)

**Key point**: We store `BirthDate`, not `Age`. That prevents inconsistent or stale Age values.

### (c) Minimal read-only access

In MySQL:

```sql
GRANT SELECT ON triple_store.*
       TO 'researcher'@'localhost'
       IDENTIFIED BY 'password';

### (d) Create a view to expose only aggregated data

In [ ]:
%%sql
DROP VIEW IF EXISTS AggregatedScores;

CREATE VIEW AggregatedScores AS
SELECT Gender, City, AVG(Score) AS AvgScore
FROM Student
JOIN Test ON Student.ID = Test.StudentID
GROUP BY Gender, City;

In [ ]:
%%sql

Anyone granted `SELECT` on `AggregatedScores` alone can see city/gender averages but **not** individual scores.

### (e) Limitation of aggregated data

They lose the ability to do record-level or outlier analysis.

### (f) & (g) Additional design issues

- Potential redundancy if `City` or `School` is repeated as free text.
- MongoDB (object DB) might offer flexible embedding, but you lose strong relational integrity or standard joins.

## Question 3: XML, XPath, and Relational Models

### Overview
We demonstrate parsing an XML snippet (TEI), checking well-formedness, and running an XPath expression with Python's `lxml`.

In [ ]:
!pip install -q lxml
from lxml import etree

xml_snippet = """\
<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:id="manuscript_3945" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Christ Church MS. 341</title>
        <title type="collection">Christ Church MSS.</title>
        <respStmt>
          <resp>Cataloguer</resp>
          <persName>Ralph Hanna</persName>
          <persName>David Rundle</persName>
        </respStmt>
      </titleStmt>
    </fileDesc>
  </teiHeader>
</TEI>
"""

doc = etree.fromstring(xml_snippet.encode("utf-8"))
print("XML parsed successfully (well-formed).")

XML parsed successfully (well-formed).

### Example XPath

Because TEI uses a default namespace, we define a namespace map for `xpath`:

In [ ]:
namespaces = {'tei': 'http://www.tei-c.org/ns/1.0'}
xp_expr = '//tei:fileDesc//tei:title/@type'

results = doc.xpath(xp_expr, namespaces=namespaces)
results

['collection']

We should see `['collection']`. This confirms we can successfully select the `type` attribute on `<title>` elements.

#### Well-formed vs. Valid

- **Well-formed**: XML has proper nesting, one root element, matching tags, etc.
- **Valid**: It also adheres to a schema/DTD (e.g., TEI’s Relax NG definition).

If we removed `<respStmt>` or `<title>`, it might break **validity** if the TEI schema requires them, but the XML could remain *well-formed* if tags are properly closed.

## (2)(i) Omitting the `<respStmt>` Element

**Question:**  
If the first extract had omitted the `respStmt` element, would the XML have been legal?

**Discussion:**  
- **Well‐Formedness**: Removing `respStmt` (while still properly closing all remaining tags) does not break basic XML syntax, so the document remains *well‐formed*.  
- **Validity**: Under TEI’s schema, `<respStmt>` is typically *required* inside `<titleStmt>`—so removing it makes the XML *invalid*. In other words, it no longer meets the TEI constraints.

Below is a short code snippet demonstrating that Python’s `lxml` parser can still parse the modified XML, indicating it’s well‐formed, but it wouldn’t pass TEI *validation* if we were to check it against the official Relax NG or other TEI schema.

In [ ]:
%%writefile mini_tei.rng
<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">

  <!-- 1) Indicate the root element via <start> -->
  <start>
    <ref name="TEI"/>
  </start>

  <!-- 2) Define the <TEI> element as the top-level root -->
  <define name="TEI">
    <element name="TEI">
      <element name="teiHeader">
        <ref name="fileDesc"/>
      </element>
    </element>
  </define>

  <!-- 3) fileDesc references titleStmt -->
  <define name="fileDesc">
    <element name="fileDesc">
      <ref name="titleStmt"/>
    </element>
  </define>

  <!-- 4) titleStmt requires at least one <title>, zero or more respStmt -->
  <define name="titleStmt">
    <element name="titleStmt">
      <a:documentation>
        A minimal example: requires one or more &lt;title&gt; elements,
  and optionally a &lt;respStmt&gt;.
      </a:documentation>
      <group>
        <oneOrMore>
          <ref name="title"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="model.respLike"/>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
    </element>
  </define>

  <!-- 5) Stub definitions for references inside <titleStmt> -->

  <!-- A single <title> element containing text -->
  <define name="title">
    <element name="title">
      <text/>
    </element>
  </define>

  <!-- Minimal stand-in for <respStmt>, with optional <persName> -->
  <define name="model.respLike">
    <element name="respStmt">
      <element name="resp">
        <text/>
      </element>
      <zeroOrMore>
        <element name="persName">
          <text/>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <!-- A stub for global attributes, if needed by TEI -->
  <define name="att.global.attributes">
    <empty/>
  </define>

</grammar>

Overwriting mini_tei.rng

## Explanation of This Grammar

- **`<start>`**: Points to **`<TEI>`** as the root element.

- **`<define name="TEI">…</define>`**: Declares that **`<TEI>`** must contain a **`<teiHeader>`**, which must contain **`<fileDesc>`**.

- **`<fileDesc>`**: Must contain a **`<titleStmt>`**.

- **`<titleStmt>`**: Must have at least one **`<title>`** and may have zero or more **`<respStmt>`** (here simplified as **`model.respLike`**).

- **Stubs**:  
  - **`att.global.attributes`** is empty (a placeholder for TEI’s global attributes).  
  - **`model.respLike`** is just a mock version of **`<respStmt>`**. In real TEI, these definitions are much more elaborate.

### Loading and Using the RNG Snippet

We now parse the above snippet and attempt to validate an XML snippet containing (or omitting) `<title>` elements inside `<titleStmt>`.

In reality, the snippet references things like `model.respLike` and `att.global.attributes`, which are **defined elsewhere** in the full TEI schema. So if we try to validate a full TEI doc, it may complain about missing references. But it’s enough to illustrate that `<titleStmt>` **requires** at least one `<title>` element, per `oneOrMore`.

In [ ]:
from lxml import etree

# 1) Parse the grammar
rng_doc = etree.parse("mini_tei.rng")
relaxng = etree.RelaxNG(rng_doc)
print("Loaded mini TEI schema successfully!")

# 2) Example TEI snippet that includes a <titleStmt>,
# with required <title> and optional <respStmt>.
xml_with_respStmt = """\
<TEI>
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Example Title Here</title>
        <respStmt>
          <resp>Cataloguer</resp>
          <persName>Ralph Hanna</persName>
        </respStmt>
      </titleStmt>
    </fileDesc>
  </teiHeader>
</TEI>
"""

doc_with_respStmt = etree.fromstring(xml_with_respStmt.encode("utf-8"))

if relaxng.validate(doc_with_respStmt):
    print("XML with <respStmt> is valid under mini TEI schema!")
else:
    print("INVALID. Errors:")
    for err in relaxng.error_log:
        print(err.message, err.line)

Loaded mini TEI schema successfully!
XML with <respStmt> is valid under mini TEI schema!

In [ ]:
xml_no_respStmt = """\
<TEI>
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Example Title Here</title>
      </titleStmt>
    </fileDesc>
  </teiHeader>
</TEI>
"""

doc_no_respStmt = etree.fromstring(xml_no_respStmt.encode("utf-8"))
if relaxng.validate(doc_no_respStmt):
    print("XML without <respStmt> is valid under this snippet.")
else:
    print("XML without <respStmt> is INVALID. Errors:")
    for err in relaxng.error_log:
        print(err.message, err.line)

XML without <respStmt> is valid under this snippet.

In [ ]:
from lxml import etree

# 1) Parse the grammar
rng_doc = etree.parse("mini_tei.rng")
relaxng = etree.RelaxNG(rng_doc)
print("Loaded mini TEI schema successfully!")

# 2) Example TEI snippet that includes a <titleStmt>,
# with required <title> and optional <respStmt>.
xml_with_title = """\
<TEI>
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Example Title Here</title>
        <respStmt>
          <resp>Cataloguer</resp>
          <persName>Ralph Hanna</persName>
        </respStmt>
      </titleStmt>
    </fileDesc>
  </teiHeader>
</TEI>
"""

doc_with_title = etree.fromstring(xml_with_title.encode("utf-8"))

if relaxng.validate(doc_with_title):
    print("XML with <title> is valid under mini TEI schema!")
else:
    print("INVALID. Errors:")
    for err in relaxng.error_log:
        print(err.message, err.line)

Loaded mini TEI schema successfully!
XML with <title> is valid under mini TEI schema!

In [ ]:
# 4) Omit <title> to see what happens
xml_no_title = """\
<TEI>
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <!-- <title> omitted -->
        <respStmt>
          <resp>Cataloguer</resp>
          <persName>Ralph Hanna</persName>
        </respStmt>
      </titleStmt>
    </fileDesc>
  </teiHeader>
</TEI>
"""

doc_no_title = etree.fromstring(xml_no_title.encode("utf-8"))
if relaxng.validate(doc_no_title):
    print("XML without <title> is valid under this snippet.")
else:
    print("XML without <title> is INVALID. Errors:")
    for err in relaxng.error_log:
        print(err.message, err.line)

XML without <title> is INVALID. Errors:
Did not expect element respStmt there 6

## Question 4: RDF, Ontologies, and Linked Data

### Overview
We'll:
1. Parse an RDF Turtle snippet with `rdflib`.
2. Run a SPARQL query in Python.
3. **BONUS**: Show how to store RDF **triples** in MySQL and do a multi-join query equivalent.

First, let’s do the standard approach with `rdflib`.

In [ ]:
!pip install -q rdflib

import rdflib

ttl_data = """@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix foaf:   <http://xmlns.com/foaf/0.1/> .
@prefix oa:     <http://www.w3.org/ns/oa#> .
@prefix armadale: <https://literary-greats.com/WCollins/Armadale/> .
@prefix myrdf: <https://myrdf.example.org/> .

myrdf:anno-001 a oa:Annotation ;
   dcterms:created  "2015-10-13T13:00:00+00:00"^^<http://www.w3.org/2001/XMLSchema#dateTime> ;
   dcterms:creator myrdf:DL192 ;
   oa:hasBody [ a oa:TextualBody ;
               rdf:value "Note the use of visual language here." ] ;
   oa:hasTarget [ a oa:SpecificResource ;
                 oa:hasSelector [ a oa:TextPositionSelector ;
                                  oa:start 235 ;
                                  oa:end 300 ] ;
                 oa:hasSource armadale:Chapter3 ;
               ] ;
   oa:motivatedBy oa:commenting .

myrdf:DL192 a foaf:Person ;
   foaf:name "David Lewis" .
"""

g = rdflib.Graph()
g.parse(data=ttl_data, format="turtle")
print("RDF graph loaded with", len(g), "triples.")

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 564.9/564.9 kB 8.8 MB/s eta 0:00:00
RDF graph loaded with 16 triples.

### SPARQL Query in Python

We want annotations that have:
- `rdf:type` = `oa:Annotation`
- A `dcterms:creator`
- A `oa:hasTarget` referencing `armadale:Chapter3`
- A textual body

In [ ]:
q_sparql = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX oa: <http://www.w3.org/ns/oa#>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX armadale: <https://literary-greats.com/WCollins/Armadale/>

SELECT ?body ?creatorName
WHERE {

}
"""

for row in g.query(q_sparql):
    print(row.body, row.creatorName)

Note the use of visual language here. David Lewis

We should see a tuple containing the body text and the creator's name (e.g. `"Note the use of visual language here."` and `"David Lewis"`).

---

## Storing RDF Triples in MySQL

Now we demonstrate a **single-table triple store** approach in MySQL:

1. **Create** a `Triples` table with columns `(subject, predicate, object)` and a composite PK.
2. **Extract** each triple from `rdflib` and **INSERT** them.
3. **Simulate** a SPARQL-style query with multiple self-joins.

### Create the Triples table

In [ ]:
%%sql
DROP TABLE IF EXISTS Triples;

CREATE TABLE Triples (
    subject VARCHAR(128),
    predicate VARCHAR(128),
    object VARCHAR(256),
    PRIMARY KEY (subject, predicate, object)
);

 * mysql+pymysql://birduser:***@localhost/triple_store
0 rows affected.
0 rows affected.

[]

### Insert the RDF Data from Python

We’ll loop over the `rdflib` graph to retrieve each `(s, p, o)` triple and insert into MySQL.

In [ ]:
import urllib.parse

triples_insert_cmd = """
INSERT IGNORE INTO Triples (subject, predicate, object)
VALUES (%s, %s, %s)
"""

# We'll parse the 'n3()' of each component for a minimal approach
rows_to_insert = []
for s, p, o in g:
    s_str = s.n3(g.namespace_manager)
    p_str = p.n3(g.namespace_manager)

    # For objects, also use n3 representation (includes quotes for literals).
    o_str = o.n3(g.namespace_manager)

    # We remove backticks or convert them so MySQL doesn't choke
    s_str = s_str.replace("`","")
    p_str = p_str.replace("`","")
    o_str = o_str.replace("`","")

    rows_to_insert.append((s_str, p_str, o_str))

# Let's do this insertion in a Python loop
import pymysql
conn_params = dict(host='localhost', user='birduser', password='birdpass', database='triple_store')
connection = pymysql.connect(**conn_params)
try:
    with connection.cursor() as cursor:
        cursor.executemany(triples_insert_cmd, rows_to_insert)
    connection.commit()
    print("Inserted RDF triples into MySQL table 'Triples'.")
finally:
    connection.close()

Inserted RDF triples into MySQL table 'Triples'.

In [ ]:
# Verify
%%sql
SELECT *
FROM Triples;

 * mysql+pymysql://birduser:***@localhost/triple_store
16 rows affected.

[('_:n6c75b11eb8794ad89aacbf39a7d02e00b1', 'rdf:type', 'oa:TextualBody'),
 ('_:n6c75b11eb8794ad89aacbf39a7d02e00b1', 'rdf:value', '"Note the use of visual language here."'),
 ('_:n6c75b11eb8794ad89aacbf39a7d02e00b2', 'oa:hasSelector', '_:n6c75b11eb8794ad89aacbf39a7d02e00b3'),
 ('_:n6c75b11eb8794ad89aacbf39a7d02e00b2', 'oa:hasSource', 'armadale:Chapter3'),
 ('_:n6c75b11eb8794ad89aacbf39a7d02e00b2', 'rdf:type', 'oa:SpecificResource'),
 ('_:n6c75b11eb8794ad89aacbf39a7d02e00b3', 'oa:end', '"300"^^xsd:integer'),
 ('_:n6c75b11eb8794ad89aacbf39a7d02e00b3', 'oa:start', '"235"^^xsd:integer'),
 ('_:n6c75b11eb8794ad89aacbf39a7d02e00b3', 'rdf:type', 'oa:TextPositionSelector'),
 ('myrdf:anno-001', 'dcterms:created', '"2015-10-13T13:00:00+00:00"^^xsd:dateTime'),
 ('myrdf:anno-001', 'dcterms:creator', 'myrdf:DL192'),
 ('myrdf:anno-001', 'oa:hasBody', '_:n6c75b11eb8794ad89aacbf39a7d02e00b1'),
 ('myrdf:anno-001', 'oa:hasTarget', '_:n6c75b11eb8794ad89aacbf39a7d02e00b2'),
 ('myrdf:anno-001', 'oa:motivatedBy', 'oa:commenting'),
 ('myrdf:anno-001', 'rdf:type', 'oa:Annotation'),
 ('myrdf:DL192', 'foaf:name', '"David Lewis"'),
 ('myrdf:DL192', 'rdf:type', 'foaf:Person')]

### Multi-join Query to Mimic SPARQL

Now, we manually replicate the pattern:

- `?annotation rdf:type oa:Annotation`
- `?annotation oa:hasBody ?bodyNode`
- `?annotation dcterms:creator ?creator`
- `?annotation oa:hasTarget ?target`
- `?target oa:hasSource armadale:Chapter3`
- `?bodyNode ...` etc.

We'll pick out the body text (literal) and creator name from the join.

In [ ]:
%%sql