<a href="https://colab.research.google.com/github/sreent/data-management-intro/blob/main/past-exam-papers/mock-april-2021/notebook-mock-april-2021-solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Environment Setup

Run this cell first to set up MySQL.

In [ ]:
# === MySQL Setup ===
!apt-get update -qq > /dev/null
!apt-get install -y -qq mysql-server > /dev/null
!service mysql start

# Create user and database
!mysql -e "CREATE USER IF NOT EXISTS 'examuser'@'localhost' IDENTIFIED BY 'exampass';"
!mysql -e "CREATE DATABASE IF NOT EXISTS exam_db;"
!mysql -e "GRANT ALL PRIVILEGES ON *.* TO 'examuser'@'localhost';"

# === SQL Magic ===
!pip install -q sqlalchemy==2.0.20 ipython-sql==0.5.0 pymysql==1.1.0 prettytable==2.0.0
%reload_ext sql
%sql mysql+pymysql://examuser:exampass@localhost/exam_db

print("MySQL ready!")

---

# Question 2: Doctor Who Database [30 marks]

## Background

Doctor Who was first broadcast in 1963, with William Hartnell playing what we now call the 'First Doctor'. From the start, the Doctor was accompanied by companions. Between 1963 and the present, there have been 13 numbered incarnations of the Doctor, and one extra incarnation called 'The War Doctor', along with dozens of companions.

---

## Q2(a): Design Tables [6 marks]

**Question:** We wish to design a simple database about this series, modelling Doctors, their companions, who played them and when they were broadcast. List the tables needed, indicating all keys.

### Solution

| Table | Primary Key | Foreign Keys |
|-------|-------------|---------------|
| **Actors** | Name | - |
| **Doctors** | Incarnation | PlayedBy → Actors(Name) |
| **Companions** | Name | PlayedBy → Actors(Name) |
| **DoctorCompanion** | (Doctor, Companion) | Doctor → Doctors, Companion → Companions |

In [ ]:
%%sql
-- Q2(a) SOLUTION: Create the Doctor Who database schema

DROP TABLE IF EXISTS DoctorCompanion;
DROP TABLE IF EXISTS Companions;
DROP TABLE IF EXISTS Doctors;
DROP TABLE IF EXISTS Actors;

-- Actors table (people who play Doctors and Companions)
CREATE TABLE Actors (
    Name VARCHAR(100) PRIMARY KEY
);

-- Doctors table (incarnations of the Doctor)
CREATE TABLE Doctors (
    Incarnation VARCHAR(50) PRIMARY KEY,
    PlayedBy VARCHAR(100),
    PeriodStart DATE,
    PeriodEnd DATE,
    FOREIGN KEY (PlayedBy) REFERENCES Actors(Name)
);

-- Companions table
CREATE TABLE Companions (
    Name VARCHAR(100) PRIMARY KEY,
    PlayedBy VARCHAR(100),
    FOREIGN KEY (PlayedBy) REFERENCES Actors(Name)
);

-- Junction table for Doctor-Companion (M:N relationship)
CREATE TABLE DoctorCompanion (
    Doctor VARCHAR(50),
    Companion VARCHAR(100),
    PRIMARY KEY (Doctor, Companion),
    FOREIGN KEY (Doctor) REFERENCES Doctors(Incarnation),
    FOREIGN KEY (Companion) REFERENCES Companions(Name)
);

SELECT 'Doctor Who schema created!' AS Status;

In [ ]:
%%sql
-- Insert sample data

-- Actors
INSERT INTO Actors (Name) VALUES
    ('William Hartnell'),
    ('Patrick Troughton'),
    ('Jon Pertwee'),
    ('Tom Baker'),
    ('Peter Davison'),
    ('Colin Baker'),
    ('David Tennant'),
    ('Matt Smith'),
    ('Carole Ann Ford'),
    ('Louise Jameson'),
    ('Nicola Bryant'),
    ('Karen Gillan');

-- Doctors (incarnations)
INSERT INTO Doctors (Incarnation, PlayedBy, PeriodStart, PeriodEnd) VALUES
    ('First Doctor', 'William Hartnell', '1963-11-23', '1966-10-29'),
    ('Second Doctor', 'Patrick Troughton', '1966-10-29', '1969-06-21'),
    ('Third Doctor', 'Jon Pertwee', '1970-01-03', '1974-06-08'),
    ('Fourth Doctor', 'Tom Baker', '1974-06-08', '1981-03-21'),
    ('Fifth Doctor', 'Peter Davison', '1981-03-21', '1984-03-16'),
    ('Sixth Doctor', 'Colin Baker', '1984-03-16', '1986-12-06'),
    ('Tenth Doctor', 'David Tennant', '2005-06-18', '2010-01-01'),
    ('Eleventh Doctor', 'Matt Smith', '2010-04-03', '2013-12-25');

-- Companions
INSERT INTO Companions (Name, PlayedBy) VALUES
    ('Susan Foreman', 'Carole Ann Ford'),
    ('Leela', 'Louise Jameson'),
    ('Peri', 'Nicola Bryant'),
    ('Amy Pond', 'Karen Gillan');

-- Doctor-Companion relationships
INSERT INTO DoctorCompanion (Doctor, Companion) VALUES
    ('First Doctor', 'Susan Foreman'),
    ('Fourth Doctor', 'Leela'),
    ('Fifth Doctor', 'Peri'),
    ('Sixth Doctor', 'Peri'),
    ('Eleventh Doctor', 'Amy Pond');

SELECT 'Sample data inserted!' AS Status;

## Q2(d)(i): Who played the Doctor whose companion was Amy Pond? [2 marks]

### Solution

In [ ]:
%%sql
-- Q2(d)(i) SOLUTION: Who played the Doctor whose companion was Amy Pond?

SELECT D.PlayedBy
FROM Doctors D
INNER JOIN DoctorCompanion DC ON D.Incarnation = DC.Doctor
WHERE DC.Companion = 'Amy Pond';

In [ ]:
%%sql
-- Try your own query here

## Q2(d)(ii): Was Peri featured before Leela? [4 marks]

### Solution

In [ ]:
%%sql
-- Q2(d)(ii) SOLUTION: Was Peri featured before Leela?
-- Compare the earliest PeriodStart dates of the Doctors associated with each companion

SELECT C.Name AS Companion, MIN(D.PeriodStart) AS FirstAppearance
FROM Companions C
INNER JOIN DoctorCompanion DC ON C.Name = DC.Companion
INNER JOIN Doctors D ON DC.Doctor = D.Incarnation
WHERE C.Name IN ('Peri', 'Leela')
GROUP BY C.Name
ORDER BY FirstAppearance;

-- Result: Leela (Fourth Doctor, 1974) appeared BEFORE Peri (Fifth Doctor, 1981)

In [ ]:
%%sql
-- Try your own query here

## Q2(d)(iii): Which incarnation had the most companions? [3 marks]

### Solution

In [ ]:
%%sql
-- Q2(d)(iii) SOLUTION: Which incarnation had the most companions?

SELECT DC.Doctor AS Incarnation, COUNT(*) AS CompanionCount
FROM DoctorCompanion DC
GROUP BY DC.Doctor
ORDER BY CompanionCount DESC
LIMIT 1;

In [ ]:
%%sql
-- Try your own query here

---

# Question 3: XML Cast List [30 marks]

In [ ]:
%%writefile castlist.xml
<castList xmlns="http://www.tei-c.org/ns/1.0">
  <castGroup>
    <castGroup>
      <head>four lovers</head>
      <castItem xml:id="Hermia_MND">
        <role>
          <name>Hermia</name>
        </role>
      </castItem>
      <castItem xml:id="Lysander_MND">
        <role>
          <name>Lysander</name>
        </role>
      </castItem>
      <castItem xml:id="Helena_MND">
        <role>
          <name>Helena</name>
        </role>
      </castItem>
      <castItem xml:id="Demetrius_MND">
        <role>
          <name>Demetrius</name>
        </role>
      </castItem>
    </castGroup>
  </castGroup>
  <castGroup>
    <castItem xml:id="Theseus_MND">
      <role>
        <name>Theseus</name>
      </role>
      <roleDesc>duke of Athens</roleDesc>
    </castItem>
  </castGroup>
</castList>

## Q3(c): XSLT Transformation

### Solution

In [ ]:
%%writefile castlist.xsl
<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0"
    xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
    xmlns:tei="http://www.tei-c.org/ns/1.0">

<xsl:output method="html" indent="yes"/>

<xsl:template match="/">
  <html>
    <body>
      <h1>Cast List</h1>
      <dl>
        <xsl:apply-templates select="//tei:castItem"/>
      </dl>
    </body>
  </html>
</xsl:template>

<xsl:template match="tei:castItem">
  <div>
    <xsl:apply-templates select="node()|@*"/>
  </div>
</xsl:template>

<xsl:template match="tei:role/tei:name">
  <dt>
    <xsl:value-of select="."/>
  </dt>
</xsl:template>

<xsl:template match="tei:roleDesc">
  <dd>
    <xsl:value-of select="."/>
  </dd>
</xsl:template>

<!-- Suppress other text nodes -->
<xsl:template match="text()"/>

</xsl:stylesheet>

**Q3(c) SOLUTION**

Q3(c)(i): What is this file and what is it for?
Answer: This is an XSLT (Extensible Stylesheet Language Transformations) file.

Purpose:
- Transforms XML documents into other formats (HTML, text, different XML)
- Uses template matching to process XML nodes
- Here, it transforms TEI cast list into HTML (<div>, <dt>, <dd>)

---

Q3(c)(ii): What was missing from the original match attributes?
Answer: The NAMESPACE PREFIX was missing.

The XML uses namespace xmlns="http://www.tei-c.org/ns/1.0", so XSLT must:
1. Declare the namespace: xmlns:tei="http://www.tei-c.org/ns/1.0"
2. Use prefix in match: match="tei:castItem" instead of match="castItem"

---

Q3(c)(iii): Output format and content:
Format: HTML

Content: A definition list structure with:
- Role names in <dt> tags (Hermia, Lysander, Helena, Demetrius, Theseus)
- Role descriptions in <dd> tags (duke of Athens)
- Each castItem wrapped in <div>

## Q3(d): Relational Model for Cast Data [11 marks]

### Solution

In [ ]:
%%sql
-- Q3(d)(i) SOLUTION: Create tables for cast information

DROP TABLE IF EXISTS Roles;
DROP TABLE IF EXISTS CastGroups;
DROP TABLE IF EXISTS Plays;

CREATE TABLE Plays (
    PlayId VARCHAR(50) PRIMARY KEY,
    Title VARCHAR(200)
);

CREATE TABLE CastGroups (
    GroupId VARCHAR(50) PRIMARY KEY,
    GroupName VARCHAR(100),
    PlayId VARCHAR(50),
    ParentGroupId VARCHAR(50),
    FOREIGN KEY (PlayId) REFERENCES Plays(PlayId),
    FOREIGN KEY (ParentGroupId) REFERENCES CastGroups(GroupId)
);

CREATE TABLE Roles (
    RoleId VARCHAR(50) PRIMARY KEY,
    Name VARCHAR(100),
    Description VARCHAR(500),
    GroupId VARCHAR(50),
    FOREIGN KEY (GroupId) REFERENCES CastGroups(GroupId)
);

-- Insert sample data
INSERT INTO Plays VALUES ('MND', 'A Midsummer Night''s Dream');

INSERT INTO CastGroups VALUES 
    ('MND_main', NULL, 'MND', NULL),
    ('MND_lovers', 'four lovers', 'MND', 'MND_main'),
    ('MND_royalty', NULL, 'MND', 'MND_main');

INSERT INTO Roles VALUES
    ('Hermia_MND', 'Hermia', NULL, 'MND_lovers'),
    ('Lysander_MND', 'Lysander', NULL, 'MND_lovers'),
    ('Helena_MND', 'Helena', NULL, 'MND_lovers'),
    ('Demetrius_MND', 'Demetrius', NULL, 'MND_lovers'),
    ('Theseus_MND', 'Theseus', 'duke of Athens', 'MND_royalty');

SELECT 'Cast tables created!' AS Status;

In [ ]:
%%sql
-- View the roles with their groups
SELECT R.Name, R.Description, CG.GroupName
FROM Roles R
LEFT JOIN CastGroups CG ON R.GroupId = CG.GroupId
ORDER BY CG.GroupName, R.Name;

In [ ]:
%%sql
-- Try your own query here

**Q3(d)(ii) SOLUTION: Which works better - relational or XML?**

Answer: XML works better for this specific use case.

Reasons XML is better:
1. Hierarchical nature - Cast lists are naturally nested (groups within groups)
2. Mixed content - Roles can have both name AND description text
3. Document-centric - This is essentially a document, not transactional data
4. Existing standards - TEI is an established standard for theatrical texts
5. Transformation - XSLT easily converts to HTML for display

Where relational would be better:
- Large-scale querying across many plays
- Transactional updates (actor assignments, scheduling)
- Joining with other data (actors, performance dates, venues)
- Statistical analysis across multiple plays

---

# Question 4: Recipe Database [30 marks]

## E/R Diagram from Exam

```
RecipeBook ──Contains──> Recipe ──uses──> Ingredient
    │                      │
  Author                preparedBy
  Title                    │
                           ▼
                    PreparationStep
                         │
                       Action
```

## Q4(c): CREATE TABLE Commands [10 marks]

### Solution

In [ ]:
%%sql
-- Q4(c) SOLUTION: Create Recipe database tables

DROP TABLE IF EXISTS RecipeIngredients;
DROP TABLE IF EXISTS BookContains;
DROP TABLE IF EXISTS PreparationSteps;
DROP TABLE IF EXISTS Recipes;
DROP TABLE IF EXISTS Ingredients;
DROP TABLE IF EXISTS RecipeBooks;

-- Recipe Books
CREATE TABLE RecipeBooks (
    BookId INT AUTO_INCREMENT PRIMARY KEY,
    Title VARCHAR(200) NOT NULL,
    Author VARCHAR(100)
);

-- Recipes
CREATE TABLE Recipes (
    RecipeId INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(200) NOT NULL
);

-- Ingredients
CREATE TABLE Ingredients (
    IngredientId INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(100) NOT NULL
);

-- Junction: Books contain Recipes (M:N)
CREATE TABLE BookContains (
    BookId INT,
    RecipeId INT,
    PRIMARY KEY (BookId, RecipeId),
    FOREIGN KEY (BookId) REFERENCES RecipeBooks(BookId),
    FOREIGN KEY (RecipeId) REFERENCES Recipes(RecipeId)
);

-- Junction: Recipes use Ingredients (M:N with quantity)
CREATE TABLE RecipeIngredients (
    RecipeId INT,
    IngredientId INT,
    Quantity DECIMAL(10,2),
    Unit VARCHAR(50),
    PRIMARY KEY (RecipeId, IngredientId),
    FOREIGN KEY (RecipeId) REFERENCES Recipes(RecipeId),
    FOREIGN KEY (IngredientId) REFERENCES Ingredients(IngredientId)
);

-- Preparation Steps (1:M from Recipe)
CREATE TABLE PreparationSteps (
    StepId INT AUTO_INCREMENT PRIMARY KEY,
    RecipeId INT NOT NULL,
    StepNumber INT NOT NULL,
    Action TEXT NOT NULL,
    FOREIGN KEY (RecipeId) REFERENCES Recipes(RecipeId),
    UNIQUE (RecipeId, StepNumber)
);

SELECT 'Recipe database schema created!' AS Status;

In [ ]:
%%sql
-- Insert sample data for testing queries

INSERT INTO RecipeBooks (Title, Author) VALUES
    ('Mushrooms', 'John Cage'),
    ('Italian Classics', 'Julia Child'),
    ('Vegan Delights', 'Anonymous');

INSERT INTO Recipes (Name) VALUES
    ('Mushroom Risotto'),
    ('Spaghetti Carbonara'),
    ('Mushroom Soup'),
    ('Vegan Curry');

INSERT INTO Ingredients (Name) VALUES
    ('mushrooms'),
    ('butter'),
    ('rice'),
    ('pasta'),
    ('eggs'),
    ('cream'),
    ('vegetables');

-- Book 1 (Mushrooms) contains recipes 1 and 3
-- Book 2 (Italian Classics) contains recipe 2
-- Book 3 (Vegan Delights) contains recipe 4
INSERT INTO BookContains VALUES
    (1, 1), (1, 3),
    (2, 2),
    (3, 4);

-- Recipe ingredients (butter is in recipes 1 and 2, not in 3 or 4)
INSERT INTO RecipeIngredients VALUES
    (1, 1, 200, 'g'),   -- Risotto: mushrooms
    (1, 2, 50, 'g'),    -- Risotto: butter
    (1, 3, 300, 'g'),   -- Risotto: rice
    (2, 4, 400, 'g'),   -- Carbonara: pasta
    (2, 5, 4, 'pieces'),-- Carbonara: eggs
    (2, 2, 100, 'g'),   -- Carbonara: butter
    (3, 1, 500, 'g'),   -- Soup: mushrooms
    (3, 6, 200, 'ml'),  -- Soup: cream
    (4, 7, 500, 'g');   -- Curry: vegetables

-- Preparation steps
INSERT INTO PreparationSteps (RecipeId, StepNumber, Action) VALUES
    (1, 1, 'Slice mushrooms'),
    (1, 2, 'Saute in butter'),
    (1, 3, 'Add rice and stock'),
    (2, 1, 'Boil pasta'),
    (2, 2, 'Mix eggs and cheese'),
    (2, 3, 'Combine and serve'),
    (3, 1, 'Chop mushrooms'),
    (3, 2, 'Simmer with cream'),
    (4, 1, 'Chop vegetables'),
    (4, 2, 'Cook with spices');

SELECT 'Sample data inserted!' AS Status;

## Q4(d): Find recipe books that never use butter [4 marks]

### Solution

In [ ]:
%%sql
-- Q4(d) SOLUTION: Find recipe books that never use butter
-- Method 1: Using NOT IN

SELECT RB.Title, RB.Author
FROM RecipeBooks RB
WHERE RB.BookId NOT IN (
    SELECT DISTINCT BC.BookId
    FROM BookContains BC
    INNER JOIN RecipeIngredients RI ON BC.RecipeId = RI.RecipeId
    INNER JOIN Ingredients I ON RI.IngredientId = I.IngredientId
    WHERE I.Name = 'butter'
);

In [ ]:
%%sql
-- Q4(d) ALTERNATIVE SOLUTION: Using LEFT JOIN with IS NULL

SELECT DISTINCT RB.Title, RB.Author
FROM RecipeBooks RB
LEFT JOIN (
    SELECT DISTINCT BC.BookId
    FROM BookContains BC
    INNER JOIN RecipeIngredients RI ON BC.RecipeId = RI.RecipeId
    INNER JOIN Ingredients I ON RI.IngredientId = I.IngredientId
    WHERE I.Name = 'butter'
) ButterBooks ON RB.BookId = ButterBooks.BookId
WHERE ButterBooks.BookId IS NULL;

In [ ]:
%%sql
-- Try your own query here

## Q4(e): Average steps in "Mushrooms" by "John Cage" [4 marks]

### Solution

In [ ]:
%%sql
-- Q4(e) SOLUTION: Average number of steps in "Mushrooms" by "John Cage"
-- Method 1: Using subquery to count steps per recipe, then average

SELECT AVG(StepCount) AS AvgSteps
FROM (
    SELECT R.RecipeId, COUNT(PS.StepId) AS StepCount
    FROM RecipeBooks RB
    INNER JOIN BookContains BC ON RB.BookId = BC.BookId
    INNER JOIN Recipes R ON BC.RecipeId = R.RecipeId
    INNER JOIN PreparationSteps PS ON R.RecipeId = PS.RecipeId
    WHERE RB.Title = 'Mushrooms' AND RB.Author = 'John Cage'
    GROUP BY R.RecipeId
) AS RecipeStepCounts;

In [ ]:
%%sql
-- Q4(e) ALTERNATIVE: Direct calculation
-- Total steps / Number of distinct recipes

SELECT 
    COUNT(PS.StepId) AS TotalSteps,
    COUNT(DISTINCT R.RecipeId) AS NumRecipes,
    COUNT(PS.StepId) / COUNT(DISTINCT R.RecipeId) AS AvgSteps
FROM RecipeBooks RB
INNER JOIN BookContains BC ON RB.BookId = BC.BookId
INNER JOIN Recipes R ON BC.RecipeId = R.RecipeId
INNER JOIN PreparationSteps PS ON R.RecipeId = PS.RecipeId
WHERE RB.Title = 'Mushrooms' AND RB.Author = 'John Cage';

In [ ]:
%%sql
-- Try your own query here