<a href="https://colab.research.google.com/github/sreent/data-management-intro/blob/main/past-exam-papers/september-2021/notebook-september-2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CM3010 September 2021 - Practice Notebook

This notebook provides hands-on practice for the September 2021 exam.

**Instructions:**
1. Run the Setup cells first
2. Write your answers in the empty code cells
3. Check your answers against the solution sheet

---

# 1. Environment Setup

Run these cells first to set up MySQL, MongoDB, and xmllint.

In [ ]:
# Install and start MySQL
!apt -qq update > /dev/null
!apt -y -qq install mysql-server libxml2-utils > /dev/null
!service mysql start

# Create user and database
!mysql -e "CREATE USER IF NOT EXISTS 'examuser'@'localhost' IDENTIFIED BY 'exampass';"
!mysql -e "CREATE DATABASE IF NOT EXISTS exam_db;"
!mysql -e "GRANT ALL PRIVILEGES ON *.* TO 'examuser'@'localhost';"

# Install Python libraries
!pip install -q sqlalchemy==2.0.20 ipython-sql==0.5.0 pymysql==1.1.0 prettytable==2.0.0 rdflib

%reload_ext sql
%sql mysql+pymysql://examuser:exampass@localhost/exam_db

print("MySQL ready!")

In [ ]:
# Install and start MongoDB
!wget -q http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
!dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb > /dev/null 2>&1
!wget -qO - https://www.mongodb.org/static/pgp/server-4.4.asc | apt-key add - > /dev/null 2>&1
!echo "deb [ arch=amd64,arm64 ] http://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.4 multiverse" | tee /etc/apt/sources.list.d/mongodb-org-4.4.list > /dev/null
!apt-get update -qq > /dev/null
!apt-get install -y -qq mongodb-org > /dev/null
!pip install -q pymongo
!mkdir -p /data/db
!mongod --fork --logpath /var/log/mongodb.log --dbpath /data/db

from pymongo import MongoClient
mongo_client = MongoClient('localhost', 27017)
print("MongoDB ready!")

---

# Section A: MCQ Practice

## Q1(f): XML Schema Validation

This MCQ tests whether you can determine if an XML document is valid against a given XSD schema.

**Key concepts:**
- XSD (XML Schema Definition) defines the structure, data types, and constraints for XML documents
- An XML document is **valid** if it conforms to the schema's rules
- Common validation checks: element names, attribute requirements, data types, element order

### How to validate XML against XSD:
```bash
xmllint --schema schema.xsd document.xml
```

### Practice: Create a schema and test documents

In [ ]:
%%writefile book.xsd
<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="xs:string"/>
        <xs:element name="year" type="xs:integer"/>
      </xs:sequence>
      <xs:attribute name="isbn" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

### Valid XML Document (conforms to schema)

In [ ]:
%%writefile book_valid.xml
<?xml version="1.0"?>
<book isbn="978-0-13-468599-1">
  <title>Database Systems</title>
  <author>Thomas Connolly</author>
  <year>2015</year>
</book>

### Invalid XML Documents (try to identify why each fails)

In [ ]:
%%writefile book_invalid1.xml
<?xml version="1.0"?>
<!-- Missing required 'isbn' attribute -->
<book>
  <title>Database Systems</title>
  <author>Thomas Connolly</author>
  <year>2015</year>
</book>

In [ ]:
%%writefile book_invalid2.xml
<?xml version="1.0"?>
<!-- Wrong data type: year should be integer, not string -->
<book isbn="978-0-13-468599-1">
  <title>Database Systems</title>
  <author>Thomas Connolly</author>
  <year>two thousand fifteen</year>
</book>

### Run Validation - See the difference!

In [ ]:
# Validate the VALID XML - should pass
print("=== Validating book_valid.xml ===")
!xmllint --schema book.xsd book_valid.xml 2>&1

In [ ]:
# Validate INVALID XML 1 - missing required attribute
print("=== Validating book_invalid1.xml (missing isbn) ===")
!xmllint --schema book.xsd book_invalid1.xml 2>&1

print("\n=== Validating book_invalid2.xml (wrong data type) ===")
!xmllint --schema book.xsd book_invalid2.xml 2>&1

---

# 2. Question 2: Bird Spotter's Database

## Sample Data: Sightings Table

| Species | Date | NumberSighted | ConservationStatus | NatureReserve | Location |
|---------|------|---------------|-------------------|---------------|----------|
| Bar-tailed godwit | 2021-04-21 | 31 | Least concern | Rainham Marshes | 51.5N 0.2E |
| Wood pigeon | 2021-04-21 | 31 | Least concern | Rainham Marshes | 51.5N 0.2E |
| Greater spotted woodpecker | 2021-06-13 | 1 | Least concern | Epping Forest | 51.6N 0.0E |
| European turtle dove | 2021-06-13 | 2 | Vulnerable | Epping Forest | 51.6N 0.0E |
| Wood pigeon | 2021-06-13 | 2 | Least concern | Epping Forest | 51.6N 0.0E |
| Great bustard | 2020-04-15 | 3 | Vulnerable | Salisbury Plain | 51.1N -1.8W |
| Bar-tailed godwit | 2020-04-20 | 53 | Least concern | Rainham Marshes | 51.5N 0.2E |

## Data Setup

In [ ]:
%%sql
DROP TABLE IF EXISTS Sightings;

CREATE TABLE Sightings (
    Species VARCHAR(100),
    Date DATE,
    NumberSighted INT,
    ConservationStatus VARCHAR(50),
    NatureReserve VARCHAR(100),
    Location VARCHAR(50)
);

INSERT INTO Sightings VALUES
('Bar-tailed godwit', '2021-04-21', 31, 'Least concern', 'Rainham Marshes', '51.5N 0.2E'),
('Wood pigeon', '2021-04-21', 31, 'Least concern', 'Rainham Marshes', '51.5N 0.2E'),
('Greater spotted woodpecker', '2021-06-13', 1, 'Least concern', 'Epping Forest', '51.6N 0.0E'),
('European turtle dove', '2021-06-13', 2, 'Vulnerable', 'Epping Forest', '51.6N 0.0E'),
('Wood pigeon', '2021-06-13', 2, 'Least concern', 'Epping Forest', '51.6N 0.0E'),
('Great bustard', '2020-04-15', 3, 'Vulnerable', 'Salisbury Plain', '51.1N -1.8W'),
('Bar-tailed godwit', '2020-04-20', 53, 'Least concern', 'Rainham Marshes', '51.5N 0.2E');

SELECT 'Sightings table ready!' AS status;

## Q2(a): Retrieve bird types seen since January 1, 2021 [4 marks]

In [ ]:
%%sql
-- Write your query here:

## Q2(c): Create normalized tables [7 marks]

Create tables for: Species, NatureReserves, and Sightings (normalized)

In [ ]:
%%sql
-- Create your normalized tables here:

## Q2(e): Query with JOIN [5 marks]

Using normalized tables, retrieve bird types and conservation status for birds seen since January 1, 2021.

### Normalized Tables:

**Species:**
| species_name | conservation_status |
|--------------|--------------------|
| Bar-tailed godwit | Least concern |
| Wood pigeon | Least concern |
| Greater spotted woodpecker | Least concern |
| European turtle dove | Vulnerable |
| Great bustard | Vulnerable |

**NatureReserves:**
| reserve_name | location |
|--------------|----------|
| Rainham Marshes | 51.5N 0.2E |
| Epping Forest | 51.6N 0.0E |
| Salisbury Plain | 51.1N -1.8W |

**SightingsNorm:**
| species_name | reserve_name | date | number_sighted |
|--------------|--------------|------|----------------|
| Bar-tailed godwit | Rainham Marshes | 2021-04-21 | 31 |
| Wood pigeon | Rainham Marshes | 2021-04-21 | 31 |
| Greater spotted woodpecker | Epping Forest | 2021-06-13 | 1 |
| European turtle dove | Epping Forest | 2021-06-13 | 2 |
| Wood pigeon | Epping Forest | 2021-06-13 | 2 |
| Great bustard | Salisbury Plain | 2020-04-15 | 3 |
| Bar-tailed godwit | Rainham Marshes | 2020-04-20 | 53 |

### Setup

In [ ]:
%%sql
DROP TABLE IF EXISTS SightingsNorm;
DROP TABLE IF EXISTS Species;
DROP TABLE IF EXISTS NatureReserves;

CREATE TABLE Species (
    species_name VARCHAR(100) PRIMARY KEY,
    conservation_status VARCHAR(50)
);

CREATE TABLE NatureReserves (
    reserve_name VARCHAR(100) PRIMARY KEY,
    location VARCHAR(50)
);

CREATE TABLE SightingsNorm (
    species_name VARCHAR(100),
    reserve_name VARCHAR(100),
    date DATE,
    number_sighted INT,
    PRIMARY KEY (species_name, reserve_name, date),
    FOREIGN KEY (species_name) REFERENCES Species(species_name),
    FOREIGN KEY (reserve_name) REFERENCES NatureReserves(reserve_name)
);

INSERT INTO Species VALUES
('Bar-tailed godwit', 'Least concern'),
('Wood pigeon', 'Least concern'),
('Greater spotted woodpecker', 'Least concern'),
('European turtle dove', 'Vulnerable'),
('Great bustard', 'Vulnerable');

INSERT INTO NatureReserves VALUES
('Rainham Marshes', '51.5N 0.2E'),
('Epping Forest', '51.6N 0.0E'),
('Salisbury Plain', '51.1N -1.8W');

INSERT INTO SightingsNorm VALUES
('Bar-tailed godwit', 'Rainham Marshes', '2021-04-21', 31),
('Wood pigeon', 'Rainham Marshes', '2021-04-21', 31),
('Greater spotted woodpecker', 'Epping Forest', '2021-06-13', 1),
('European turtle dove', 'Epping Forest', '2021-06-13', 2),
('Wood pigeon', 'Epping Forest', '2021-06-13', 2),
('Great bustard', 'Salisbury Plain', '2020-04-15', 3),
('Bar-tailed godwit', 'Rainham Marshes', '2020-04-20', 53);

SELECT 'Normalized tables ready!' AS status;

In [ ]:
%%sql
-- Write your JOIN query here:

## Q2(f): Write a transaction example [7 marks]

In [ ]:
%%sql
-- Write a transaction example here:

---

# 3. Question 3: MEI Music Encoding

## Sample Data: MEI XML

```xml
<measure>
  <staff n="2">
    <layer n="1">
      <chord xml:id="d13e1" dur="8" dur.ppq="12" stem.dir="up">
        <note xml:id="d1e101" pname="c" oct="5"/>
        <note xml:id="d1e118" pname="a" oct="4"/>
        <note xml:id="d1e136" pname="c" oct="4"/>
      </chord>
    </layer>
  </staff>
  <staff n="3">
    <layer n="1">
      <chord xml:id="d17e1" dur="8" dur.ppq="12" stem.dir="up">
        <note xml:id="d1e157" pname="f" oct="3"/>
        <note xml:id="d1e174" pname="f" oct="2"/>
      </chord>
    </layer>
  </staff>
</measure>
```

## Data Setup

In [ ]:
%%writefile mei_sample.xml
<measure>
  <staff n="2">
    <layer n="1">
      <chord xml:id="d13e1" dur="8" dur.ppq="12" stem.dir="up">
        <note xml:id="d1e101" pname="c" oct="5"/>
        <note xml:id="d1e118" pname="a" oct="4"/>
        <note xml:id="d1e136" pname="c" oct="4"/>
      </chord>
    </layer>
  </staff>
  <staff n="3">
    <layer n="1">
      <chord xml:id="d17e1" dur="8" dur.ppq="12" stem.dir="up">
        <note xml:id="d1e157" pname="f" oct="3"/>
        <note xml:id="d1e174" pname="f" oct="2"/>
      </chord>
    </layer>
  </staff>
</measure>

## Q3(b): Fix the XPath [3 marks]

This XPath is incorrect: `/staff[n="2"]/layer/chord[note/@pname="c"]`

Write a correct XPath expression:

In [ ]:
# Test the incorrect XPath
!xmllint --xpath '/staff[n="2"]/layer/chord' mei_sample.xml 2>&1 || true

In [ ]:
# Write your corrected XPath here:
!xmllint --xpath '' mei_sample.xml

## Q3(c)(i): Translate the first chord to JSON [5 marks]

First chord element:
```xml
<chord xml:id="d13e1" dur="8" dur.ppq="12" stem.dir="up">
  <note xml:id="d1e101" pname="c" oct="5"/>
  <note xml:id="d1e118" pname="a" oct="4"/>
  <note xml:id="d1e136" pname="c" oct="4"/>
</chord>
```

In [ ]:
import json

# Create your JSON representation:
chord_json = {
    # Fill in here
}

print(json.dumps(chord_json, indent=2))

## Q3(c)(ii): MongoDB find query [5 marks]

Find chords with upward stems that have 'f' in one of their notes.

### Sample Data: Chord Documents

```json
{
  "xml_id": "d13e1",
  "dur": 8,
  "stem_dir": "up",
  "notes": [
    {"pname": "c", "oct": 5},
    {"pname": "a", "oct": 4},
    {"pname": "c", "oct": 4}
  ]
}

{
  "xml_id": "d17e1",
  "dur": 8,
  "stem_dir": "up",
  "notes": [
    {"pname": "f", "oct": 3},
    {"pname": "f", "oct": 2}
  ]
}
```

### Setup

In [ ]:
import json
db = mongo_client.music_db
db.chords.drop()

db.chords.insert_many([
    {
        "xml_id": "d13e1",
        "dur": 8,
        "stem_dir": "up",
        "notes": [
            {"pname": "c", "oct": 5},
            {"pname": "a", "oct": 4},
            {"pname": "c", "oct": 4}
        ]
    },
    {
        "xml_id": "d17e1",
        "dur": 8,
        "stem_dir": "up",
        "notes": [
            {"pname": "f", "oct": 3},
            {"pname": "f", "oct": 2}
        ]
    }
])
print("Chords inserted!")

In [ ]:
# Write your MongoDB find query:
query = {
    # Fill in here
}

for doc in db.chords.find(query):
    doc.pop('_id')
    print(json.dumps(doc, indent=2))

## Q3(d)(ii): Write RDF in Turtle for the first chord [5 marks]

In [ ]:
%%writefile chord.ttl
@prefix mei: <http://example.org/mei#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .

# Write your RDF triples here:

In [ ]:
# Validate your Turtle
from rdflib import Graph
g = Graph()
try:
    g.parse('chord.ttl', format='turtle')
    print(f"Valid Turtle! Contains {len(g)} triples.")
except Exception as e:
    print(f"Error: {e}")

---

# 4. Question 4: Zoo Database

## Sample Data

**Zoo:**
| name | country |
|------|--------|
| Singapore Zoo | Singapore |
| London Zoo | UK |

**Enclosure:**
| name | location | zoo_name |
|------|----------|----------|
| Tropical Zone | Mandai Lake | Singapore Zoo |
| Savannah Zone | Outer Gardens | Singapore Zoo |
| Reptile House | Regents Park | London Zoo |

**Species:**
| latin_name | conservation_status |
|------------|--------------------|
| Buceros bicornis | Vulnerable |
| Panthera leo | Vulnerable |
| Elephas maximus | Endangered |

**Animal:**
| identifier | date_of_birth | latin_name | enclosure_name |
|------------|---------------|------------|----------------|
| 1 | 2010-04-10 | Buceros bicornis | Tropical Zone |
| 2 | 2012-06-15 | Panthera leo | Savannah Zone |
| 3 | 2005-02-01 | Elephas maximus | Reptile House |
| 4 | 2015-09-09 | Buceros bicornis | Savannah Zone |

## Data Setup

In [ ]:
%%sql
DROP TABLE IF EXISTS Animal;
DROP TABLE IF EXISTS Species;
DROP TABLE IF EXISTS Enclosure;
DROP TABLE IF EXISTS Zoo;

CREATE TABLE Zoo (
    name VARCHAR(255) PRIMARY KEY,
    country VARCHAR(255)
);

CREATE TABLE Enclosure (
    name VARCHAR(255) PRIMARY KEY,
    location VARCHAR(255),
    zoo_name VARCHAR(255),
    FOREIGN KEY (zoo_name) REFERENCES Zoo(name)
);

CREATE TABLE Species (
    latin_name VARCHAR(255) PRIMARY KEY,
    conservation_status VARCHAR(50)
);

CREATE TABLE Animal (
    identifier INT AUTO_INCREMENT PRIMARY KEY,
    date_of_birth DATE,
    latin_name VARCHAR(255),
    enclosure_name VARCHAR(255),
    FOREIGN KEY (latin_name) REFERENCES Species(latin_name),
    FOREIGN KEY (enclosure_name) REFERENCES Enclosure(name)
);

INSERT INTO Zoo VALUES ('Singapore Zoo', 'Singapore'), ('London Zoo', 'UK');

INSERT INTO Enclosure VALUES 
('Tropical Zone', 'Mandai Lake', 'Singapore Zoo'),
('Savannah Zone', 'Outer Gardens', 'Singapore Zoo'),
('Reptile House', 'Regents Park', 'London Zoo');

INSERT INTO Species VALUES 
('Buceros bicornis', 'Vulnerable'),
('Panthera leo', 'Vulnerable'),
('Elephas maximus', 'Endangered');

INSERT INTO Animal (date_of_birth, latin_name, enclosure_name) VALUES
('2010-04-10', 'Buceros bicornis', 'Tropical Zone'),
('2012-06-15', 'Panthera leo', 'Savannah Zone'),
('2005-02-01', 'Elephas maximus', 'Reptile House'),
('2015-09-09', 'Buceros bicornis', 'Savannah Zone');

SELECT 'Zoo database ready!' AS status;

## Q4(b): Write CREATE TABLE for two tables [6 marks]

In [ ]:
%%sql
-- Write CREATE TABLE commands for any two tables:

## Q4(c): Count species in Singapore Zoo [5 marks]

In [ ]:
%%sql
-- Write your query here:

## Q4(d): Find oldest 'Buceros bicornis' in each zoo [5 marks]

In [ ]:
%%sql
-- Write your query here:

## Q4(e): Write instance data in RDF [10 marks]

In [ ]:
%%writefile zoo.ttl
@prefix zoo: <http://example.org/zoo#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

# Write your RDF instance data here:

In [ ]:
# Validate your Turtle
from rdflib import Graph
g = Graph()
try:
    g.parse('zoo.ttl', format='turtle')
    print(f"Valid Turtle! Contains {len(g)} triples.")
except Exception as e:
    print(f"Error: {e}")

---

# Done!

Check your answers against the **solution sheet**.